### 텍스트 전처리

- 문장에서 괄호를 제외한 부분만 추출하기
- 추출한 문장은 new 컬럼으로 저장
- 새로운 데이터프레임은 csv 파일로 저장 

### Text Pre-processing

- Getting the sentence without bracket
- The sentence after pre-processing will be saved in column ```new``` 
- The new dataframe will be saved as CSV file

In [1]:
#reading excel
import pandas as pd

In [3]:
#전체 데이터 확인
dialect=pd.read_excel('./대본종합_200929.xlsx')
dialect.tail(2)

      화일번호 :                   대본종합_200929 Unnamed: 2 Unnamed: 3
28593   28593           일본에게 뽄때(본때)를 보여주자.       일상대화        NaN
28594   28594  매정하게 배신한 남자에게 뽄때(본때)를 보여주자.      연애/결혼        NaN

### 정규표현식 설명
```
\( : 괄호로 시작
[^)] :닫는 괄호를 제외한 모든 글자들 
* : 여러개의 글자가능
\) : 괄호로 끝남
```

In [4]:
# new 컬럼 : 괄호를 제외한 새로운 문장 
dialect['new']=dialect['대본종합_200929'].replace(r'\([^)]*\)','',regex=True)

In [5]:
dialect.tail(2)

,화일번호 :,대본종합_200929,Unnamed: 2,Unnamed: 3,new
28593,28593,일본에게 뽄때(본때)를 보여주자.,일상대화,NaN,일본에게 뽄때를 보여주자.
28594,28594,매정하게 배신한 남자에게 뽄때(본때)를 보여주자.,연애/결혼,NaN,매정하게 배신한 남자에게 뽄때를 보여주자.

In [6]:
dialect.loc[5]

화일번호 :                                         005
대본종합_200929    그래도 그런 놈은 여븐뎅이루(옆으로) 써도 매련(형편) 없는데.
Unnamed: 2                                     NaN
Unnamed: 3                                     NaN
new                     그래도 그런 놈은 여븐뎅이루 써도 매련 없는데.
Name: 5, dtype: object

### 적용 & csv 생성

In [7]:
dialect.to_csv('preprocessed_dialect.csv')

In [8]:
new_dialect=pd.read_csv('./preprocessed_dialect.csv')
new_dialect.tail(5)

,Unnamed: 0,화일번호 :,대본종합_200929,Unnamed: 2,Unnamed: 3,new
28590,28590,28590,회사갈때 정장을 입어야 뽄때(본때)가 나지.,회사/학교,NaN,회사갈때 정장을 입어야 뽄때가 나지.
28591,28591,28591,학교에서는 공부잘하는기 뽄때(본때) 있는기다.,회사/학교,NaN,학교에서는 공부잘하는기 뽄때 있는기다.
28592,28592,28592,뽄때(본때)를 보여주는건 좋지만 거짓말 하면 욕합니다.,일상대화,NaN,뽄때를 보여주는건 좋지만 거짓말 하면 욕합니다.
28593,28593,28593,일본에게 뽄때(본때)를 보여주자.,일상대화,NaN,일본에게 뽄때를 보여주자.
28594,28594,28594,매정하게 배신한 남자에게 뽄때(본때)를 보여주자.,연애/결혼,NaN,매정하게 배신한 남자에게 뽄때를 보여주자.